body {
  margin: 10px;
  font-family: "Source Sans Pro", Arial, "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

div {
  display: block;
}

.header .row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.header .row .left-search {
  text-align: left !important;
  margin-top: 25px;
  max-width: 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.form-inline {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem !important;
  margin-top: 0.65rem !important;
}

.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.7;
  color: #495057;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

@media (min-width: 576px) {
  .mb-sm-0, .my-sm-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

.btn-search {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.7;
  border-radius: 0.25rem;
}

/*button, [type="submit"] {
  text-transform: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
}*/

.middle-name {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center !important;
}

.middle-name h1 {
  color: #df1010;
  font-size: 4rem;
  line-height: 1.4rem;
  letter-spacing: -0.2rem;
  text-align: center;
  font-weight: 500;
}

.right-links {
  text-align: right !important;
  margin-top: 25px;
  max-width: 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.right-links p {
  margin-top: 0;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.social-icons {
  margin-bottom: 0;
}

.social-icons a {
  margin-right: 15px;
  color: #dddddd;
  text-decoration: none;
  background-color: transparent;
}

.icon-link {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  font-size: 2em;
}

@media (min-width: 768px) {
  .navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.navbar {
  padding: 0 1rem;
  background-color: #111 !important;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}

/*.bg-primary {
  background-color: #111 !important;
}*/

/*.navbar {
  position: relative;
  display: flex;
  align-items: center;
}*/

/*@media (min-width: 768px) {
  .navbar-expand-md > .container {
    flex-wrap: nowrap;
  }
}*/

.navbar > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*.navbar-dark .navbar-brand {
  color: #fff;
}*/
/*@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

.navbar-brand {
  padding-top: 0.2875rem;
  padding-bottom: 0.2875rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}*/

.navbar a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

/*.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}*/
/*@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}*/

/*.navbar-toggler button, html [type="button"] {
  -webkit-appearance: button;
}

.navbar-toggler {
    margin: 0.5rem;
}*/

/*.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  touch-action: manipulation;
}*/

/*.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}*/

/*.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
*/
/*@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}
*/
/*@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
}
*/
/*.mr-auto, .mx-auto {
  margin-right: auto !important;
}
*/
.navbar-nav {
  margin-right: auto !important;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

.navbar-nav ul {
  margin-top: 0;
  margin-top: : 1em;
  margin-bottom: 1em;
  padding-top: 40px;
}

.nav-item li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.navbar .navbar-nav .active > .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link {
  color: #999;
  padding: 1rem 1.6rem !important;
}

.navbar .active .nav-link {
  background-color: #df1010;
}

.nav-link {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.article {
  padding-right: 40px;
  padding-left: 100px;
  width: 70%;
  position: relative;
  float: left;
}

.article h2 {
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: -2px;
}

.btn {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.7;
  border-radius: 0.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #111;
  border-color: #111;
}

.article a:hover {
  color: maroon;
}

.btn-secondary {
  color: #fff;
  background-color: #df1010;
  border-color: #df1010;
}

@media (min-width: 768px) {
  .sidebar {
    float: right;
    width: 25%;
    margin-top: 40px;
    margin-right: 40px;
  }
}

.sidebar .sidebar-box h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

.listing {
  background-color: #f5f5f5;
  border-radius: 0.25rem;
}

.listing h3 {
  color: white;
  background-color: red;
  padding: 10px;
  padding-right: 2rem;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  position: absolute;
}

.listing ul {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  list-style: none;
}

.sidebar-box-about {
  background-color: #f5f5f5;
  border-radius: 0.25rem; 
  margin-top: 20px;
  margin-bottom: -1px;
}

.sidebar-box-about h3 {
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 0;
  padding-right: 2rem;
  font-weight: bold;
  font-size: 20px;
  padding-top: 0;
  position: absolute;
}

.sidebar-box-about p {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
}

.sidebar-box-help-links {
  background-color: #f5f5f6;
  margin-top: 20px;
  margin-bottom: -1px;
}

.sidebar-box-help-links h3 {
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 0;
  padding-right: 2rem;
  font-weight: bold;
  font-size: 20px;
  padding-top: 0;
  position: absolute;
}

.sidebar-box-help-links ul {
  list-style: none;
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
}

.sidebar-box-help-links a {
  color: #df1010;
}

.sidebar-box-help-links a:hover {
  color: maroon;
  text-decoration-line: underline;
}